@import "../blocks/header.css";
@import "../blocks/description.css";
@import "../blocks/digits.css";
@import "../blocks/footer.css";
@import "../blocks/video.css";
@import "../blocks/oakley.css";
@import "../blocks/khan.css";
@import "../blocks/resources.css";
@import "../blocks/techniques.css";
@import "../blocks/feynman.css";
@import "../blocks/kaufman.css";

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


:root {
  --colorBLUE: #2f80ed;
  --colorGREY: #f2f2f2;
  --colorBLACKGREY: #1f1f1f;
  --colorBLACK: black;
}

* {
  margin: 0;
  padding: 0;
}

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  color: var(--colorBLACK);
}
